html {
  background: linear-gradient(to right, #f4f4f4, #373737);
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: #271616;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  width: 75vw;
  background-image: linear-gradient(to bottom, rgba(192, 178, 131, 0.8), rgba(220, 208, 192, 0.8)), url(../slike/rsz_kari-shea-601696-unsplash.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 8px 8px 10px rgba(211, 211, 211, 0.425); }
  @media screen and (max-width: 500px) {
    body {
      width: 100%;
      margin: 0;
      border-radius: 0;
      background-image: linear-gradient(to bottom, rgba(192, 178, 131, 0.8), rgba(220, 208, 192, 0.8)); } }

header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%); }
  header img {
    height: 150px;
    width: 150px;
    border-radius: 50%; }
    @media screen and (max-width: 500px) {
      header img {
        display: block;
        margin-left: auto;
        margin-right: auto; } }
  @media screen and (max-width: 500px) {
    header {
      display: grid;
      border-radius: 0; } }

main .kontakt {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  border-bottom: 1px solid black; }
  @media screen and (max-width: 380px) {
    main .kontakt {
      display: grid; } }
  main .kontakt div {
    text-align: center; }
  main .kontakt .email p a {
    text-decoration: none;
    color: black; }
  main .kontakt .email abbr {
    text-decoration: none; }
main h2 {
  text-align: center;
  width: 200px;
  border: 1px solid black;
  padding: 5px;
  margin-left: 10px;
  background-color: rgba(143, 147, 153, 0.747);
  border-radius: 10px;
  box-shadow: 8px 8px 10px rgba(110, 61, 61, 0.425); }
main h2:hover {
  transform: skew(20deg) scale(1.1);
  background: -webkit-linear-gradient(black, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
main .rad {
  display: flex; }
  main .rad .firme {
    border-right: 1px dashed black;
    padding-left: 10px;
    padding-right: 10px; }
  main .rad .opis {
    padding-left: 10px;
    display: grid; }
    main .rad .opis p {
      padding-top: 30px; }
main .naslovi {
  display: flex;
  justify-content: space-around; }
main .obrazovanje {
  display: flex;
  justify-content: space-evenly; }
  main .obrazovanje .kursevi {
    margin-left: 80px; }
  main .obrazovanje .skole {
    margin-left: 10px; }
main .ostalo li {
  list-style: url(../slike/iconmonstr-check-mark-11-12.png); }
main .ostalo h2 {
  width: 100px; }
main .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 30px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s; }
main .active, main .accordion:hover {
  background-color: #ccc; }
main .panel {
  padding: 0 18px;
  background-color: #a3a2a2;
  display: none;
  overflow: hidden; }

footer {
  height: 100px;
  background-color: gray;
  display: grid;
  grid-template-columns: 250px 250px;
  justify-content: center;
  justify-items: center;
  padding-top: 25px;
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%); }
  @media screen and (max-width: 500px) {
    footer {
      display: block;
      text-align: center; } }
  @media screen and (max-width: 300px) {
    footer {
      text-align: center; } }
  footer a {
    height: 40px; }
  footer svg:hover {
    filter: invert(100%);
    transition-duration: 0.7s; }

/*# sourceMappingURL=style.css.map */
