header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: gray;
    display: flex;
    justify-content:space-around;
    padding: 20px;
    
    
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);

    img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        @media screen and (max-width:500px){
            
            display: block;
            margin-left: auto;
            margin-right: auto;
        

        }
    }

     @media screen and (max-width:500px) {
        display: grid;   
        border-radius: 0;
    }
    
}